.input {
    position: relative;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid var(--color-text-3);
    font-size: 1.6rem;
    color: var(--color-text-1);
    font-family: Rubik;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    padding: 0.3rem 1rem;
}

.input:focus {
    border-bottom: 2px solid var(--color-light-green);
}

.dropdown {
    position: absolute;
    left: 50%;
    background: var(--color-background-2);
    border: 1px solid var(--color-background-1);
    padding: 0.7rem 1rem;
    max-height: 50%;
    width: 300px;
    border-radius: 5px;
    overflow-y: auto;
    z-index: 10;
}

.item {
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    transition: background 0.2s ease;
}

.selected {
    background: var(--color-background-1);
}
