.atomSpinner,
.atomSpinner * {
    box-sizing: border-box;
}

.atomSpinner {
    height: 60px;
    width: 60px;
    overflow: hidden;
}

.atomSpinner .spinnerInner {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.atomSpinner .spinnerCircle {
    display: block;
    position: absolute;
    color: var(--color-light-green);
    font-size: calc(60px * 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: colorAnimation 3s linear infinite alternate;
}

.atomSpinner .spinnerLine {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left-width: calc(60px / 25);
    border-top-width: calc(60px / 25);
    border-left-color: var(--color-light-green);
    border-left-style: solid;
    border-top-style: solid;
    border-top-color: transparent;
}

.atomSpinner .spinnerLine:nth-child(1) {
    animation: atomSpinnerAnimation_1 1s linear infinite, colorAnimation 3s linear infinite alternate;
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.atomSpinner .spinnerLine:nth-child(2) {
    animation: atomSpinnerAnimation_2 1s linear infinite, colorAnimation 3s linear infinite alternate;
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.atomSpinner .spinnerLine:nth-child(3) {
    animation: atomSpinnerAnimation_3 1s linear infinite, colorAnimation 3s linear infinite alternate;
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atomSpinnerAnimation_1 {
    100% {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atomSpinnerAnimation_2 {
    100% {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atomSpinnerAnimation_3 {
    100% {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes colorAnimation {
    100% {
        color: var(--color-pale-light-green);
        border-color: var(--color-pale-light-green);
    }
}
