.input {
    position: relative;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid var(--color-text-3);
    font-size: 0.9rem;
    color: var(--color-text-1);
    font-family: Rubik;
    letter-spacing: 1px;
    transition: all 0.4s ease;
}

.input:focus {
    border-bottom: 2px solid var(--color-light-green);
}
