.box {
    background: var(--color-background-2);
    animation: vanish 1.3s ease infinite alternate;
}

@keyframes vanish {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}
