.welcome {
    font-weight: lighter;
    color: var(--color-text-3);
    font-size: 2.5rem;
    padding: 2rem 0;
}

.title {
    font-weight: lighter;
    color: var(--color-text-3);
    font-size: 1.5rem;
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    margin: 1rem 0;
}

.searchIcon {
    fill: var(--color-text-3);
    height: 3rem;
    margin: 0 1rem;
}

.searchField {
}
