:root {
    --color-dark-green: #00793a;
    --color-light-green: #65ac1e;
    --color-pale-dark-green: #d9ebe2;
    --color-pale-light-green: #e0eed2;

    --color-black: #2b2b2b;
    --color-grey-1: #5e5e5e;
    --color-grey-2: #878787;
    --color-grey-3: #9a9a9a;
    --color-grey-4: #c4c4c4;
    --color-white: #ffffff;

    --color-background-light-1: #f2f2f6;
    --color-background-light-2: #ffffff;
    --color-background-dark-1: #272c35;
    --color-background-dark-2: #2f3542;

    --color-shadow-light-1: #9494c5;
    --color-shadow-light-2: #d4d4e0;
    --color-shadow-light-3: #e8e8ef;
    --color-shadow-dark-1: #2a2a3a;
    --color-shadow-dark-2: #343451;
    --color-shadow-dark-3: #53536a;

    --color-text-light-1: #2b2b2b;
    --color-text-light-2: #5e5e5e;
    --color-text-light-3: #9a9a9a;
    --color-text-light-4: #c4c4c4;
    --color-text-dark-1: #ffffff;
    --color-text-dark-2: #aaaac7;
    --color-text-dark-3: #f2f2f6;
    --color-text-dark-4: #d7d7e4;

    --gradient-primary: linear-gradient(97deg, var(--color-light-green) 0%, var(--color-dark-green) 100%);
}
