:root {
    --color-mode: 'light';

    --color-background-1: var(--color-background-light-1);
    --color-background-2: var(--color-background-light-2);

    --color-shadow-1: var(--color-shadow-light-1);
    --color-shadow-2: var(--color-shadow-light-2);
    --color-shadow-3: var(--color-shadow-light-3);
    --color-drawer-shadow: var(--color-shadow-light-3);

    --color-text-1: var(--color-text-light-1);
    --color-text-2: var(--color-text-light-2);
    --color-text-3: var(--color-text-light-3);
    --color-text-4: var(--color-text-light-4);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-theme]) {
        --color-mode: 'dark';

        --color-background-1: var(--color-background-dark-1);
        --color-background-2: var(--color-background-dark-2);

        --color-shadow-1: var(--color-shadow-dark-1);
        --color-shadow-2: var(--color-shadow-dark-2);
        --color-shadow-3: var(--color-shadow-dark-3);
        --color-drawer-shadow: var(--color-shadow-dark-1);

        --color-text-1: var(--color-text-dark-1);
        --color-text-2: var(--color-text-dark-2);
        --color-text-3: var(--color-text-dark-3);
        --color-text-4: var(--color-text-dark-4);
    }
}

:root[data-user-theme='dark'] {
    --color-mode: 'dark';

    --color-background-1: var(--color-background-dark-1);
    --color-background-2: var(--color-background-dark-2);

    --color-shadow-1: var(--color-shadow-dark-1);
    --color-shadow-2: var(--color-shadow-dark-2);
    --color-shadow-3: var(--color-shadow-dark-3);
    --color-drawer-shadow: var(--color-shadow-dark-1);

    --color-text-1: var(--color-text-dark-1);
    --color-text-2: var(--color-text-dark-2);
    --color-text-3: var(--color-text-dark-3);
    --color-text-4: var(--color-text-dark-4);
}
