.card {
    position: relative;
    background: var(--color-background-2);
    border-radius: 7px;
    box-shadow: 1px 1px 5px var(--color-shadow-1);
    padding: 3rem 2rem;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
}

.title {
    font-size: 1.5rem;
    color: var(--color-text-2);
    font-weight: lighter;
    text-align: left;
    width: 100%;
    margin-bottom: 2rem;
}
