.tooltip {
    position: relative;
}

.icon {
    position: relative;
    fill: var(--color-text-1);
    cursor: pointer;
    transition: all 0.4s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.tooltip .tooltipText {
    opacity: 0;
    width: 200px;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 105%;
    color: var(--color-text-1);
    transition: all 0.4s ease;
    font-size: 14px;
}

.tooltip:hover .tooltipText {
    opacity: 1;
}
