.container {
    height: 100vh;
    width: 300px;
    background: var(--color-background-2);
    position: relative;
    box-shadow: 20px 0px 40px 0px var(--color-drawer-shadow);
    overflow: hidden;
    padding: 1rem;
    margin-left: -8px;
}

.logo {
    fill: var(--color-text-1);
}

.toggleButton {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 0;
}

.linkBottom {
    margin-top: 2rem;
}

.userInfo {
    padding: 1rem 0;
}

.name {
    font-size: 1.3rem;
    font-weight: lighter;
    color: var(--color-text-3);
    margin-bottom: 6px;
}

.email {
    font-size: 0.8rem;
    font-weight: lighter;
    color: var(--color-text-2);
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 5px solid #fff;
    box-shadow: 3px 3px 8px 0px var(--color-shadow-1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-height: 100%;
}

.footer {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 89%;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.copyright {
    color: var(--color-text-3);
}

.footer hr {
    width: 100%;
}
