.container {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 100%;
    position: relative;
    margin-top: 0.3rem;
}

.table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
}

.scrollContainer {
    overflow-y: scroll;
    max-height: 300px;
}

.header {
    padding: 1rem;
    text-align: left;
}

.row {
    color: var(--color-text-2);
    cursor: pointer;
    transition: background 0.4s ease;
}

.row:hover {
    background: var(--color-background-1);
    color: var(--color-text-1);
}

.row:hover .link {
    opacity: 1;
}

.cell {
    text-align: left;
    padding: 0.5rem 2rem;
}

.link {
    opacity: 0;
    height: 20px;
    cursor: pointer;
    fill: var(--color-text-2);
    transition: all 0.4s ease;
}

.link:hover {
    fill: var(--color-text-1);
}
