.mainRow {
    flex-wrap: nowrap !important;
}

.mainContent {
    padding: 2rem 4rem !important;
}

a {
    color: var(--color-light-green);
    transition: color 0.4s ease;
}

a:hover {
    color: var(--color-dark-green);
}

a:active,
a:visited {
    color: var(--color-light-green);
}

a:active:hover,
a:visited:hover {
    color: var(--color-dark-green);
}
