@import-normalize;

@font-face {
    font-family: 'Rubik';
    src: local('Rubik') format('ttf'), url('./assets/fonts/Rubik-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: Rubik, Arial, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1px;
    color: var(--color-text-1);
    background: var(--color-background-1);
    transition: background 0.4s ease-out, color 0.2s ease;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
