.normal {
    position: relative;
    z-index: 1;
    display: block;
    font-size: 1.7rem;
    font-weight: lighter;
    color: var(--color-text-3) !important;
    margin: 2rem 0;
}

.normal::before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    opacity: 0;
    height: 50%;
    background: var(--gradient-primary);
    transition: width 0.4s ease, opacity 0.1s ease-in-out, all 0.4s ease;
}

.normal:hover,
.normal:focus {
    color: var(--color-text-1) !important;
}

.normal:hover::before,
.normal:focus::before {
    width: 100%;
    opacity: 1;
}

.active {
    font-weight: bolder;
    color: var(--color-text-1) !important;
    transition: all 0.4s ease;
}

.active::before {
    animation: animated_background 0.8s ease 1 both;
    opacity: 1;
}

.active:hover::before,
.active:focus::before {
    width: 5px;
    opacity: 1;
}

@keyframes animated_background {
    0% {
        left: 0;
        top: 50%;
        width: 100%;
    }
    60% {
        width: 5px;
        height: 50%;
        top: 50%;
        left: calc(100% - 5px);
    }
    100% {
        width: 5px;
        height: 100%;
        top: 0;
        left: calc(100% - 5px);
    }
}
